[Unit]
Description=Netatmo
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/pi/netatmo/src
ExecStart=/usr/bin/python3 /home/pi/netatmo/src/netatmo.py
Restart=on-abort

[Install]
WantedBy=multi-user.target