[Unit]
Description=Netatmo
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/netatmo/netatmo.py
Restart=on-abort

[Install]
WantedBy=multi-user.target