sitemap netatmo label="Netatmo" {
Frame {
    Text label="Homes"
// Homes
{% for my_home in homes -%}
    {
        Text label="Home {{my_home.id}}" 
        {
            Default item=netatmo_home_{{my_home.id}}_id                               label="{{my_home.name}} id"                        
            Default item=netatmo_home_{{my_home.id}}_name                             label="{{my_home.name}} name"                           
            Default item=netatmo_home_{{my_home.id}}_altitude                         label="{{my_home.name}} altitude"                       
            Default item=netatmo_home_{{my_home.id}}_coordinates                      label="{{my_home.name}} coordinates [%2$s°N %3$s°E]"    
            Default item=netatmo_home_{{my_home.id}}_country                          label="{{my_home.name}} country"                        
            Default item=netatmo_home_{{my_home.id}}_timezone                         label="{{my_home.name}} timezone"                       
            Default item=netatmo_home_{{my_home.id}}_temperature_control_mode         label="{{my_home.name}} temperature_control_mode"       
            Selection item=netatmo_home_{{my_home.id}}_therm_mode                       label="{{my_home.name}} therm_mode [%s]"                       mappings=["schedule"="schedule", "away"="away"]                  
            Default item=netatmo_home_{{my_home.id}}_therm_setpoint_default_duration  label="{{my_home.name}} therm_setpoint_default_duration"
            Default item=netatmo_home_{{my_home.id}}_cooling_mode                     label="{{my_home.name}} cooling_mode"                   
        }
    }
{% endfor %}
}
{% for my_home in homes -%}

// Rooms
{%for room in rooms if room.home_id == my_home.id -%}
    Frame {
        Text label="Room {{room.name}}"
        {
            Default item=netatmo_room_{{room.id}}_id                          label="{{room.name}} id"                                               
            Default item=netatmo_room_{{room.id}}_name                        label="{{room.name}} name"                                             
            Default item=netatmo_room_{{room.id}}_type                        label="{{room.name}} type"                                             
            Default item=netatmo_room_{{room.id}}_reachable                   label="{{room.name}} reachable"                                        
            Default item=netatmo_room_{{room.id}}_anticipating                label="{{room.name}} anticipating"                                     
            Default item=netatmo_room_{{room.id}}_heating_power_request       label="{{room.name}} heating_power_request"                            
            Default item=netatmo_room_{{room.id}}_open_window                 label="{{room.name}} open_window"                            
            Default item=netatmo_room_{{room.id}}_therm_measured_temperature  label="{{room.name}} therm_measured_temperature [%.2f °C]" 
            Setpoint item=netatmo_room_{{room.id}}_therm_setpoint_temperature  label="{{room.name}} therm_setpoint_temperature [%.2f °C]"    minValue=17 maxValue=27 step=0.5   
            Selection item=netatmo_room_{{room.id}}_therm_setpoint_mode         label="{{room.name}} therm_setpoint_mode [%s]"   mappings=["schedule"="schedule", "away"="away"]                           
            Default item=netatmo_room_{{room.id}}_home_id                     label="{{room.name}} home_id"                                          
        }
    }
{% endfor %}

// Modules
{%for module in modules if module.home_id == my_home.id  -%}
Frame {
    Text label="Module {{module.name}}"
        {
        Default item=netatmo_module_{{module.label}}_id                        label="netatmo2mqtt module {{module.name}} id"                                           
        Default item=netatmo_module_{{module.label}}_type                      label="netatmo2mqtt module {{module.name}} type"                                         
        Default item=netatmo_module_{{module.label}}_name                      label="netatmo2mqtt module {{module.name}} name"            
        Default item=netatmo_module_{{module.label}}_setup_date                label="netatmo2mqtt module {{module.name}} setup_date"                                   
        Default item=netatmo_module_{{module.label}}_home_id                   label="netatmo2mqtt module {{module.name}} home_id"                                      
        {% if module.type == "NAPlug" %}
        //Default item=netatmo_module_{{module.label}}_setup_date                label="netatmo2mqtt module {{module.name}} setup_date"                                        
        Default item=netatmo_module_{{module.label}}_wifi_strength             label="netatmo2mqtt module {{module.name}} wifi_strength"                                
        {% endif %}
        {% if module.type == "NATherm1" %}
        Default item=netatmo_module_{{module.label}}_boiler_valve_comfort_boost label="netatmo2mqtt module {{module.name}} boiler_valve_comfort_boost"                  
        {% endif %}
        {% if module.type != "NAPlug" %}
        Default item=netatmo_module_{{module.label}}_bridge                    label="netatmo2mqtt module {{module.name}} bridge"                                       
        Default item=netatmo_module_{{module.label}}_battery_state             label="netatmo2mqtt module {{module.name}} battery_state"                      
        Default item=netatmo_module_{{module.label}}_battery_level             label="netatmo2mqtt module {{module.name}} battery_level"    
        Default item=netatmo_module_{{module.label}}_firmware_revision         label="netatmo2mqtt module {{module.name}} firmware_revision"                            
        Default item=netatmo_module_{{module.label}}_rf_strength               label="netatmo2mqtt module {{module.name}} rf_strength"     
        Default item=netatmo_module_{{module.label}}_reachable                 label="netatmo2mqtt module {{module.name}} reachable"                                    
        Default item=netatmo_module_{{module.label}}_boiler_status             label="netatmo2mqtt module {{module.name}} boiler_status"   
        Default item=netatmo_module_{{module.label}}_room_id                   label="netatmo2mqtt module {{module.name}} room_id"       
        {% endif %}
        }
    }
{% endfor %}
}
{% endfor %}